

   <!-- <div class="grid p-fluid">
        <div class="col-12 md:col-7">
            <div class="flex">
                <p-dropdown class="flex-grow-0" [options]="typeRequest" [(ngModel)]="selectedTypeRequest"></p-dropdown>
                <div class="flex-1 p-inputgroup">
                    <input type="text" [(ngModel)]="url" pInputText placeholder="URL">
                    <button type="button" pButton pRipple label="Send" (click)="sendRequest()"></button>
                </div>
            </div>
        
            <p-tabView styleClass="tabview-custom">
                <p-tabPanel>
                    <ng-template pTemplate = "header">
                        <span>Query</span>
                    </ng-template>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </p-tabPanel>
                <p-tabPanel header="Header II">
                    <ng-template pTemplate = "header">
                        <span>Headers</span>
                    </ng-template>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                        architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                        voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.</p>
                </p-tabPanel>
                <p-tabPanel header="Header III">
                    <ng-template pTemplate = "header">
                        <span>Body</span>
                    </ng-template>
                   
                </p-tabPanel>
            </p-tabView>
            <ngs-code-editor
            [theme]="theme"
            [codeModel]="codeModel"
            [options]="options"
            (valueChanged)="onCodeChanged($event)">
        </ngs-code-editor>
        </div>

        <div class="col-12 md:col-5">
            <div class="p-inputgroup top">
                RESPONSE PANEL
            </div>
            <p-tabView styleClass="tabview-custom">
                <p-tabPanel>
                    <ng-template pTemplate = "header">
                        <span>Response</span>
                    </ng-template>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </p-tabPanel>
                <p-tabPanel header="Header II">
                    <ng-template pTemplate = "header">
                        <span>Headers</span>
                    </ng-template>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                        architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                        voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.</p>
                </p-tabPanel>
                <p-tabPanel header="Header III">
                    <ng-template pTemplate = "header">
                        <span>Cookies</span>
                    </ng-template>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
                        cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
                        Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.</p>
                </p-tabPanel>
                <p-tabPanel header="Header III">
                    <ng-template pTemplate = "header">
                        <span>Result</span>
                    </ng-template>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
                        cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
                        Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.</p>
                </p-tabPanel>
                <p-tabPanel header="Header III">
                    <ng-template pTemplate = "header">
                        <span>Docs</span>
                    </ng-template>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
                        cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
                        Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.</p>
                </p-tabPanel>
            </p-tabView>
        </div>
</div>-->
<h1>PostBoy App</h1>
    <div class="container-fluid">
        <div class="row g-0 main-content">
            <div class="col-md-6 col-12 border bg-light">
                REQUEST
                <div class="input-group mb-3 p-1">
                    <select class="form-select flex-grow-0 w-auto" aria-label="Default select example" [(ngModel)]="selectedTypeRequest">
                        <option value="POST">POST</option>
                        <option value="GET">GET</option>
                        <option value="PUT">PUT</option>
                        <option value="PATH">PATH</option>
                        <option value="DELETE">DELETE</option>
                      </select>
                    <input type="text" class="form-control" [(ngModel)]="url" placeholder="https://www.apiurl.com/save" aria-label="Username" aria-describedby="button-addon2">
                    <button class="btn btn-outline-info" type="button" id="button-addon2" (click)="sendRequest()">Send</button>
                </div>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                      <a class="nav-link" id="query-tab" data-bs-toggle="tab" role="tab" aria-controls="home"
                        aria-selected="true" aria-current="page" href="#query-params">Query</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="headers-response-tab" data-bs-toggle="tab" role="tab" 
                        aria-control="headers-response" aria-selected="false" href="#headers-response">Headers</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" id="body-tab" data-bs-toggle="tab" role="tab"
                        aria-control="body" aria-selected="false" href="#body">Body</a>
                    </li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane fade" aria-labelledby="query-tab" id="query-params">
                    QUERY PARAMETERS
 
                  </div>
                  <!-- Request Header-->
                  <div class="tab-pane fade" aria-labelledby="headers-response-tab" id="headers-response">
                    HEADERS CONTENT
                    <button class="btn btn-outline-success" type="button" (click)="addHeader()">Nuevo</button>
                    <div class="row g-1 mt-1" *ngFor="let header of headerList; let i = index">
                        <div class="col">
                            <input type="text" class="form-control" id="key{{i}}" value="{{header.key}}" [(ngModel)]="header.key">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" id="value{{i}}" value="{{header.value}}" [(ngModel)]="header.value">
                        </div>
                        <div class="col">
                            <button type="button" (click)="removeHeader(i)" class="btn btn-outline-danger">Remove</button>
                        </div>
                    </div>
                  </div>

                  <div class="tab-pane fade show active" aria-labelledby="body-tap" id="body">
                    BODY
                    <ngs-code-editor
                        [theme]="theme"
                        [codeModel]="codeModel"
                        [options]="options"
                        (valueChanged)="onCodeChanged($event)">
                    </ngs-code-editor>
                  </div>
                </div>
                
            </div>
            <div class="col-md-6 col-12 border bg-light">
                RESPONSE
                <div class="row mt-3 p-1">
                    <div *ngIf="loading">
                        Procesando, espere un momento...
                    </div>
                    <div class="row" *ngIf="!loading">
                        <p class="col-3">Status: <strong [ngClass]="responseSuccess ? 'text-success' : 'text-danger'">{{responseStatus}}</strong></p>
                        <p class="col-4">Size: <strong [ngClass]="responseSuccess ? 'text-success' : 'text-danger'">{{responseSize}}</strong></p>
                        <p class="col-5">Time: <strong [ngClass]="responseSuccess ? 'text-success' : 'text-danger'">{{responseTime}}</strong></p>
                    </div>
                </div>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" id="response-tab" data-bs-toggle="tab" role="tab"
                      aria-control="body" aria-selected="false" href="#response">Response</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Headers</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Cookies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Result</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Docs</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" aria-labelledby="response-tap" id="response">
                        <div class="d-flex justify-content-center" *ngIf="loading">
                            <div class="spinner-border" role="status">
                            </div>
                        </div>
                 </div>
            </div>
        </div>
    </div>

    
