/* You can add global styles to this file, and also import other style files */
.main-content {
    height: 700px;
    min-height: 100%;
    border: 1px solid firebrick;
}

.collections {
    background-color: brown;
    width: 250px;
}

.top {
    height: 50px;
}
