/* You can add global styles to this file, and also import other style files */
@import '~codemirror/lib/codemirror';
@import '~codemirror/theme/material';

.collections {
    background-color: brown;
    width: 250px;
}

.top {
    height: 50px;
}